header {
    background-color: #333;
    color: #fff;
    padding: 2.5rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end; 
}

nav ul li {
    margin-left: 1rem; 
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

nav ul li a:hover {
    text-decoration: underline; 
}


.carousel {
    position: relative;
    max-width: 100%;
    overflow: hidden;
  }
  
  .image {
    width: 100%;
    height: 250px;
  }
  
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 1rem;
    font-size: 1.5rem;
  }
  
  .arrow.prev {
    left: 0;
  }
  
  .arrow.next {
    right: 0;
  }
  .card-container {
    display: flex;
    justify-content: space-evenly; /* Adjust as needed */
    flex-wrap: wrap;
    margin-top: 15px;
  }
 body{
  background-color: #0a192f;
 }
  